* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}
body {
  background: linear-gradient(-45deg, #0d1117, #221827, #141E25, #653889);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100%;
  -webkit-font-smoothing: antialiased;
	
}
a {
	color: inherit;
}
a:hover {
	text-decoration: underline;
}
#content {
	max-width: 580px;
	margin: 0 auto;
	padding: 64px 24px;
}
.link {
	font-size: 16px;
	line-height: 20px;
	color: #c9d1d9;
	margin-right: 12px;
}
.links .link {
	margin-right: 0;
	display: block;
	margin-bottom: 16px;
}
h6 {
	font-weight: 600;
	font-size: 14px;
	color: rgba(255, 255, 255, 0.64);
	margin-bottom: 24px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
h3 {
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
	margin-bottom: 6px;
}
p {
	font-size: 18px;
	line-height: 24px;
	color: rgba(255, 255, 255, 0.8);
}
ul li {
	margin-bottom: 40px;
}
ul li:last-of-type {
	margin-bottom: 0;
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
